[Unit]
Description=AutoMythSvr Stage1
After=rsyslog.service network-online.target mariadb.service lightdm.service NetworkManager.service 
Requires=mariadb.service network-online.target
Before=time-sync.target 
Wants=time-sync.target

[Service]
Type=oneshot
ExecStart=/usr/bin/automythsvr-eit-stage1.sh
User=mythtv
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
